<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="List of one of the best restaurant in indonesia, where you can find comfort and delicious food in one place">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header" id="home">
        <div class="header__inner">
            <h1 class="header__title">
                άνεση
            </h1>
        </div>
        <a href="#" id="menu" class="header__menu" aria-label="nav-menu">☰</a>
    </header>

<nav id="drawer" class="nav">
    <ul class="nav__list">
        <li class="nav__item"><a href="#/list">Home</a></li>
        <li class="nav__item"><a href="#/resRecomen">Favorite</a></li>
        <li class="nav__item"><a href="#/review">Review</a></li>
        <li class="nav__item"><a href="#/reservation">Reservation</a></li>
        <li class="nav__item"><a href="https://github.com/FrederykAbryan?tab=repositories" target="_blank" rel="noopener noreferrer">About Us</a></li>
    </ul>
</nav>

<div class="hero">
    <div class="hero__inner">
        <h2 class="hero__title">Jelajahi Restoran Terbaik Kami di Indonesia</h2>
        <p class="hero__tagline">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit sed corrupti eum dolores eos excepturi, id officiis maiores odio explicabo!</p>
    </div>
</div>

<main id="maincontent">

    <section class="cardSec">
        <h2 class="sec__title" id="resRecomen">People's Favorite</h2>
        <div class="cardcontainer" id="cardColumn">

        </div>
    </section>

    <section class="reviewSec">
        <h2 class="sec__title" id="review">Review</h2>
        <div class="slideshow-container">

            <div class="mySlides">
                <q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum minus dolorum a corporis, ullam optio?</q>
                <p class="author">- John Keats</p>
            </div>

            <div class="mySlides">
                <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus beatae eveniet odio eius, aliquid laudantium fugit animi dolorum consequatur! Laborum nesciunt perspiciatis in rem fuga. Impedit, nostrum. Voluptatem, cupiditate odio.</q>
                <p class="author">- Ernest Hemingway</p>
            </div>

            <div class="mySlides">
                <q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quos excepturi asperiores doloremque similique quam consectetur cum. Reprehenderit error alias hic ipsa asperiores nesciunt dicta, illo excepturi doloremque, ab aspernatur.</q>
                <p class="author">- Thomas A. Edison</p>
            </div>
        </div>
    </section>

    <section class="formSec">
        <h2 class="sec__title" id="reservation">Reservasi</h2>
        <div class="formcontainer">
            <form action="#">
                <div class="col">
                    <div class="row">
                        <div class="col-25">
                            <label for="nama">Nama</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="nama" nama="nama" placeholder="Nama Anda..">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="date">Tanggal</label>
                        </div>
                        <div class="col-75">
                            <input type="date" id="date" name="date">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="subject">Catatan</label>
                        </div>
                        <div class="col-75">
                            <textarea id="subject" name="subject" placeholder="Tambahkan catatan.." style="height:200px"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <input type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </section>
    </main>

    <footer>Copyright © 2021 - άνεση</footer>

    </body>
    </html>
